.nav-wrapper {
    background-color: #4E0B16;
}

#buttonNavbarConnected {
    padding-left: 400px;
}

#buttonNavbarNotConnected {
    padding-left: 620px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-size: cover;
    background-color: #90a4ae;
    background-image: url(/assets/img/red5.jpg);
}

#checkbox {
    border-color : black !important;
}

main {
    flex: 1 0 auto;
}

#classroom {
    width: 100%;
}

footer {
    background-color: rgba(255,255,255,0.3);
    opacity: 0.1;
}

#navBtn {
    background-color: #770B1A;
    font-size: 30px !important;
}

#navBtnConnected {
    background-color: #770B1A;
    font-size: 19px !important;
}

#formTeacher,
#searchActivity,
#formConnection,
#modifyActivityForm,
#addActivity {
   border:2px solid black;
   box-shadow: 0.3px 0.3px black, 0.5em 0 0.5em black, -0.5em 0 0.5em black;
   border-radius: 20px;
   margin-left: 125px;
   margin-right: 125px;
}

#formConnection, 
#searchActivity,
#addActivity {
    margin-top: 50px;
    margin-bottom : 50px;
}

#startButton,
#connectionButton,
#submitButton,
#inscriptionButton,
#redirectionButton,
#modifyAct,
#changePictureSubmit,
#addActivityButton,
#addActInFav,
#deleteActivityButton,
#cancelButton,
#changePasswordSubmit {
    background-color: #770b1a;
    text-align: center;
    font-size: 30px !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

#startButton,
#submitButton,
#connectionButton {
    margin-left: 50px;
}

#redirectionButton {
    margin-left: 750px;
}

label {
    color: black !important;
    font-size: 20px !important;
}

textarea{
    color: black !important;
}
input {
    color: black !important;
    font-size: 20px !important;
}

h1 {
    font-size : 45px;
    text-align: center;
    margin-right: 50px;
    color: black;
}

p {
    font-size: 20px;
    color: black !important;
}

#messageNotConnected {
font-size: 30px;
}
#error{
 color: #770b1a !important;
 text-align: center;
}

#profilCard {
    border: 2px solid black;
    border-radius:7px;
}
.card-content {
    color: #4e0b16;
    text-align: center;
}

h1, 
#welcome,
#messageNotConnected {
    color : white !important;
}

#messageNotConnected {
margin-left: 500px;
}

#cardActivity {
    margin-left : 25px;
}
.card-panel {
    text-align: center;
    background-color : #747563 !important;
}
@media(max-width:990px) {
    #messageNotConnected,
    #addActInFav {
        font-size: 20px !important;
        margin-left: 20px;
        }
        #startButton,
        #submitButton,  
        #inscriptionButton,
        #connectionButton,
        #redirectionButton {
            font-size: 20px !important;
            margin-left: 50px !important;
        }
        #inscriptionButton,
        #connectionButton {
            margin-left: 15px;
        }
        #formTeacher,
        #searchActivity,
        #formConnection,
        #modifyActivityForm,
        #addActivity {
            border: 2px solid black;
            margin-left: 25px;
            margin-right: 25px;
         }
         h1 {
            font-size : 35px;
            text-align: center;
            margin-right: 0px;
         }
}
@media(max-width:1700px) {
    #buttonNavbarConnected {
        padding-left: 150px;
    }
    
    #buttonNavbarNotConnected {
        padding-left: 250px;
    }
    #redirectionButton {
        margin-left: 350px;
    }
    #messageNotConnected {
        margin-left: 100px;
    }
    #buttonNavbarConnected {
        padding-left: 0px;
    }
}