.nav-wrapper {
    background-color: #4e0b16;
}

#buttonNavbarConnected {
    padding-left: 400px;
}

#buttonNavbarNotConnected {
    padding-left: 620px;
}

body {
    background-color: #5c5391;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#classroom {
    width: 100%;
}

footer {
    background-color: rgba(255,255,255,0.3);
    opacity: 0.1;
}

#navBtn {
    background-color: #770b1a;
    font-size: 30px !important;
}

#navBtnConnected {
    background-color: #770b1a;
    font-size: 19px !important;
}

#formConnection, 
#searchActivity,
#addActivity {
    margin-top: 50px;
}

#startButton,
#submitButton,
#redirectionButton {
    background-color: #770b1a;
    text-align: center;
    font-size: 35px !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

label,
#termsOfUse,
#certifyTeacher {
    color: white !important;
    font-size: 25px !important;
}

p {
    font-size: 20px;
}
#error{
 color: #770b1a;
 text-align: center;
}

#addHisActivities, 
#favoritesActivities,
#modifyProfil{
background-color: blue;

}
#profilCard {
    border: 2px solid black;
    border-radius:7px;
}
.card-content {
    color: #4e0b16;
    text-align: center;
}

.card-panel {
    text-align: center;
}